---
- name: Set hostname and reboot for controller (localhost)
  hosts: localhost
  become: true
  gather_facts: false
  tasks:
    - name: Set hostname to Master
      ansible.builtin.command: hostnamectl hostname Master

- name: Set hostname and reboot for all other hosts
  hosts: all
  become: true
  gather_facts: false
  tasks:
    - name: Set hostname to inventory_hostname
      ansible.builtin.command: hostnamectl hostname {{ inventory_hostname }}

    - name: Reboot host to apply hostname
      ansible.builtin.reboot:
        reboot_timeout: 300
